.post{
  width: 100%;
  border-radius: 10px;
  margin: 30px, 0;
}

.postWrapper{
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 1em;
}

.postTop{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 1em;
}

.postTopLeft{
  display: flex;
  align-items: center;
  font-size: 18px;
}

.postTopRight{
  display: flex;
  align-items: center;
  font-size: 18px;
}

.postUserName{
  font-style: 15px;
  font-weight: 500;
  margin: 0, 10px;
}

.postMiddle{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 1em;
}

.postDate{
  font-style: 12px;
}

.postBottomRight{
  align-content: right;
}

.likeButton{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  
}

.unLikeButton{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* .border-box{
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 1em;
} */